*.class
.DS_Store
.project
.classpath

*.png
captcha/*.png
*.jpg

*.caffemodel
*.solverstate
*.h5

resources/

captcha/dev-resources/
captcha/target/

CaptchaTools/letters_few/
CaptchaTools/models/letters_many/
CaptchaTools/models/snapshots/
CaptchaTools/archive

*.err